@import "tailwindcss";

:root {
  --primary-color: #264d80;
  --secondary-color: #e6c559;
}


@layer utilities {
  .main-menu ul {
    @apply list-none flex gap-6 m-0 p-0 text-white;
  }
}

@layer components {
  body {
      background-color: white;
      color: var(--primary-color);
    }

  .btn {
    @apply border bg-white/10 backdrop-blur-sm border-white/30 shadow-lg py-2 px-4 rounded-lg;
  }
}