@import "tailwindcss";
/* @tailwind base;
@tailwind components; */
@tailwind utilities;

:root {
  --primary-color: #1e40af;
  --secondary-color: #fbbf24;
}

body {
  background: var(--primary-color);
  color: var(--secondary-color);
}

.main-menu ul {
  @apply list-none flex gap-6 m-0 p-0 text-white;
}